<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/muuri.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/web-animations.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>おっとなったもの</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <div class="pop photo_pop">
        <form method="POST" enctype=multipart/form-data>
            <ul>
                <li><input id="get_image" type="file" name="file" accept=".png, .jpg, .jpeg, .pdf, .doc, .heic" required></li>
                <li><input id="title" type="text" name="title" placeholder="タイトル"></li>
                <li><input id="memo" type="text" name="memo" placeholder="メモ"></li>
                <li><button id="button" type="submit" value="Upload">送信</button></li>
            </ul>
        </form>
    </div>
    <div class="pop genre_pop">
        <form method="POST" enctype=multipart/form-data>
            <ul>
                <li><input id="title" type="text" name="genre" placeholder="グループ名"></li>
                <li><button id="button" type="submit" value="Upload">送信</button></li>
            </ul>
        </form>
    </div>
    <div class="muuriArea">
        {% for i in range(genre_id) %}
        <div class="button">
            <p>{{ genre_list[i][1] }}</p>
        </div>
        <div class="grid muuri" id="grid{{ genre_list[i][0] }}">
            {% if genres[i] != [] %}
                {% for photo in genres[i] %}
                <div class="item photo_item">
                    <div class="item-content">
                        <img src={{ photo[8] }}>
                        <div class="info">
                            <p class="photo_id">{{ photo[1] }}</p>
                            <p class="title">{{ photo[6] }}</p>
                            <p class="memo">{{ photo[7] }}</p>
                            <p class="file_path">{{ photo[8] }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            <div class="item ">
                <div class="item-content">
                    <div class="add">＋</div>
                    <div class="info">
                        <p class="genre_num">{{ genre_list[i][0] }}</p>
                    </div>
                </div>
            </div>
            
        </div>
        {% endfor %}
        <div class="genre_button">
            <p>＋</p>
        </div>

    </div>
    <div class="photo_page">
        <div class="close">×</div>
        <div class="photo_container">
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"
    integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>



<script src="{{ url_for('static', filename='js/move.js') }}"></script>
<script>
    function makeNewMuuri(grid_name) {
        var grid = new Muuri(grid_name, {
            dragEnabled: true,
            layout: function (grid, layoutId, items, width, height, callback) {

                var layout = {
                    id: layoutId,
                    items: items,
                    slots: [],
                    styles: {},
                };

                var item;
                var m;
                var x = 0;
                var y = 0;
                var w = 0;
                var h = 0;

                var maxW = width / 2;
                var currentW = 0;
                var currentRowH = 0;
                var currentRowW = 0;
                var rowSizes = [];
                var rowFixes = [];

                var xPre, yPre, wPre, hPre;
                var numToFix = 0;

                for (var i = 0; i < items.length; i++) {
                    item = items[i];

                    m = item.getMargin();
                    wPre = item.getWidth() + m.left + m.right;
                    hPre = item.getHeight() + m.top + m.bottom;
                    xPre += wPre;

                    if (hPre > currentRowH) {
                        currentRowH = hPre;
                    }

                    if (w < currentRowW) {
                        currentRowW = wPre;
                    }

                    rowSizes.push(width / 2);
                    numToFix++;
                    currentW += wPre;

                    var k = 0;

                    for (var j = 0; j < numToFix; j++) {
                        rowSizes[i - j] -= wPre / 2;
                    }

                    if (numToFix > 1) {
                        rowSizes[i] -= (wPre / 2) * (numToFix - 1);
                        k += (wPre / 2);
                    }

                    currentW -= k;
                    rowFixes.push(k);

                    if (currentW >= maxW) {
                        yPre += currentRowH;
                        currentRowH = 0;
                        xPre = 0;
                        numToFix -= 1;
                        currentW = 0;
                        numToFix = 0;
                        k = 0;
                    }
                }

                maxW = width / 2;
                currentW = 0;
                currentRowH = 0;
                currentRowW = 0;

                for (var i = 0; i < items.length; i++) {
                    item = items[i];
                    x += w;

                    if (h > currentRowH) {
                        currentRowH = h;
                    }

                    if (w < currentRowW) {
                        currentRowW = w;
                    }

                    currentW += w - rowFixes[i];

                    if (currentW >= maxW) {
                        y += currentRowH;
                        currentRowH = 0;
                        x = 0;
                        currentW = 0;
                    }

                    m = item.getMargin();
                    w = item.getWidth() + m.left + m.right;
                    h = item.getHeight() + m.top + m.bottom;
                    layout.slots.push(x + rowSizes[0], y);
                    console.log(x)
                }

                layout.styles.width = '100%';
                layout.styles.height = y + h + 1 + 'px';

                callback(layout);
                console.log(layout)
                console.log(rowSizes)
            }
        });
    }

    function makeMuuris(n) {
        for (var i = 1; i <= n; i++) {
            str = "#grid"+i
            console.log(str)
            makeNewMuuri(str)
        }
    }

    makeMuuris(6)
    console.log("成功")

</script>

</html>